.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    max-width: 100%;
}


.icon {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 20px;
}

.icon__bg {
    height: 40px;
    width: 40px;
    background-color: #c55e20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__bg p {
    color: white;
}

.icon__bg span {
    color: white;
    margin-top: 8px;

}

.header__links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.header__links a {
    position: relative;
}

.header__links a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #c55e20;
    transition: .45s;
}

.cart {
    position: relative;
}

.cart p {
    position: absolute;
    top: -14px;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.header__links a:hover::before {
    width: 100%;
}


.hamburger__menu {
    display: none;
}

.input__section {
    border-radius: 20px;
    padding: 8px 10px;
    background-color: #eeeeee;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.input__section input {
    outline: none;
    border: none;
    background-color: #eeeeee;
}

@media screen and (max-width:740px) {

    .input__section,
    .icons {
        display: none;
    }

    .icon {
        margin-left: 0;
        flex-direction: column;
    }

    .cart {
        display: none;
    }

    .header__container {
        padding: 8px;
    }

    .header__links {
        position: absolute;
        top: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f5f5f5;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: .45s;
        z-index: 5;
        padding-right: 0;
        border-top: 1px solid #c55e20;
    }

    .header__links a {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .header__links.open {
        transform: translateX(0);
    }

    .hamburger__menu {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background-color: #c55e20;
        transition: .45s;
    }

    .bar::before,
    .bar::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: #c55e20;
        border-radius: 2px;
        transition: .45s;
    }

    .bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }


    .bar::after {
        width: 32px;
        transform: translateY(8px);
        right: 0;
    }

    .hamburger__menu.open>.bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .hamburger__menu.open>.bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .hamburger__menu.open>.bar::after {
        width: 32px;
        transform: rotate(-45deg) translate(26px, 26px);
    }

    .mobile__input {
        border-radius: 20px;
        padding: 4px 6px;
        background-color: #eeeeee;
        display: flex;
        border: 1px solid #c55e20;
        align-items: center;
        width: 100%;
    }

    .mobile__input input {
        outline: none;
        border: none;
        background-color: #eeeeee;
        flex: 1;
    }

    .mobile__cart {
        position: relative;
        margin: 0 10px;
    }

    .mobile__cart svg {
        color: #c55e20;
    }

    .mobile__cart p {
        position: absolute;
        top: -14px;
        right: 0;
        background-color: red;
        color: white;
        border-radius: 50%;
    }

    .mobile__view {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:740px) {

    .mobile__input,
    .mobile__cart {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .mobile__input {
        width: 200px;
    }

    .mobile__input input {
        width: 40px;
    }
}